.urlExistent {
  padding-top: 10px;
  padding-bottom: 15px;
  text-decoration: none;
  color: rgba(0, 0, 255, 0.66);
}
.dev_card_img_container {
  width: 62%;
  height: auto;
  background: #fff;
  border-radius: 10px;
  
}
/* @media all and (max-width: 992px) {
  .dev_card_img_container {
    width: 80%;
  }
} */
@media all and (max-width: 767px){
  .dev_card_img_container{
    width: 100%;
  }
} 
  
