.card {
  display: flex;
  width: 90%;
  max-width: 1200px;
  height: 340px;
  border-radius: 10px;
  margin: 0 auto 30px;
  box-shadow: 0px 0px 10px rgb(93, 92, 92);
}
.card:hover {
  box-shadow: 0px 0px 15px rgb(93, 92, 92);
}

.card_img_container{
  width: 85%;
  height: auto;
  background: #fff;
  border-radius: 10px;
}
.card_img {
  width: auto;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}
.card_content_container {
  position: relative;
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0 10px 10px 0;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: var(--bg_body_dark);
}
.card_content_container:hover {
  background: var(--bg_body_hover);
}
.card_bg_hover {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.01) 0%,
    rgba(0, 0, 0, 0.1) 50%,
    rgba(0, 0, 0, 0.3) 70%,
    rgba(0, 0, 0, 0.5) 80%,
    rgba(0, 0, 0, 0.7) 90%,
    rgba(0, 0, 0, 0.9) 100%
  );
  border-radius: 0 10px 10px 0;
  display: none;
  justify-content: center;
  align-items: flex-end;
}
.card_bg_hover h2 {
  color: var(--dev_card_h2_hover);
  padding-bottom: 20px;
  font-size: 30px;
}
.card__link {
  text-decoration: none;
  color: var(--card_link);
  /* border: 3px solid black; */
  width: 100%;
  height: 100%;
}
.card_title {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-top: 0;
  font-size: 28px;
  line-height: 28px;
  font-weight: 500;
  border-radius: 0 0 10px 10px;
}
li {
  display: flex;
  align-items: flex-start;
  color: black;
  padding: 5px 20px;
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
}
.span_li {
  padding-right: 10px;
  line-height: 18px;
}
.card_content_container:hover .card_bg_hover {
  display: flex;
}



@media all and (max-width: 992px) {
  .card {
    height: 300px;
    width: 95%;
  }
  .card_img_container {
    width: 70%;
  }
  .card_bg_hover h2 {
    font-size: 26px;
  }
  .card_title {
    font-size: 24px;
    line-height: 20px;
    padding-bottom: 10px;
  }
  li {
    font-size: 14px;
    padding: 2px 15px;
    letter-spacing: -0.7px;
  }
}
@media all and (max-width: 767px) {
  .card {
    height: 255px;
    width: 100%;
    border-radius: 0;
  }
  .card_title {
    font-size: 22px;
  }
  .card_img_container {
    border-radius: 0;
    width: 100%;
  }
  .card_img {
    border-radius: 0;
  }
  .card_bg_hover h2 {
    font-size: 20px;
  }
  .card_content_container {
    border-radius: 0 0 0 0;
  }
  li {
    font-size: 12px;
  }
}
@media all and (max-width: 540px) {
  .card {
    flex-direction: column;
    height: auto;
    margin-bottom: 20px;
  }
  .card_title {
    font-size: 20px;
    font-weight: 600;
    padding-top: 20px;
  }
  ul {
    padding-bottom: 20px;
  }
}
@media all and (max-width: 540px) {
  .card_title {
    font-size: 18px;
  }
}
